<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Array Type</title>
</head>
<body>

    <div id="app">
        <ul>
            <li v-for="vehicle in vehicles">
                Type : <strong>{{ vehicle.type }}, </strong/> 
                Brand : <strong>{{ vehicle.brand }},</strong>
                Color : <strong>{{ vehicle.color }}</strong>
            </li>
        </ul>

        <ul>
            <li v-for="value in object">
                {{ value }} 
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="assets/vendor/vue.js"></script>
    <script type="text/javascript" src="assets/js/app16.js"></script>
</body>
</html>






